# ControlMaster auto
# ControlPath ~/.ssh/mux-%r@%h:%p

# TCPKeepAlive yes
# ServerAliveInterval 120
# ForwardAgent	yes
HashKnownHosts	yes
VisualHostKey	yes
UpdateHostKeys  yes

HostKeyAlgorithms ^ssh-ed25519

Host github.com
	User git
	IdentityFile ~/.ssh/github
