# ControlMaster		auto
# ControlPath		~/.ssh/mux-%r@%h:%p

# ServerAliveInterval	8
# ServerAliveCountMax	64
# ForwardAgent		yes

HashKnownHosts		yes
VisualHostKey		yes
UpdateHostKeys		yes
StrictHostKeyChecking	yes
HostKeyAlgorithms	^ssh-ed25519

Host github.com
	User git
	IdentityFile ~/.ssh/github

# proxy jump example
Host jumpy example
	HostName jumpy.external.facing.box
	User pickles

Host behind-nat-or-sth
	HostName stupid.internal.box
	ProxyJump jumpy
	User wobbles
